.table-actions {
  display: flex;
  align-items: center;
  gap: 0.375rem;

  &--start {
    justify-content: flex-start;
  }

  &--center {
    justify-content: center;
  }

  &--end {
    justify-content: flex-end;
  }
}
